.explore-foods-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}

.explore-foods-container img {
  margin-left: 20%;
  margin-top: 25%;
  width: 320px;
}
