footer {
  align-items: center;

  /* background-color: #c4c4c4; */
  background-color: #ff204c;
  bottom: 0;
  display: flex;
  height: 68px;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100vw;

  /* width: 360px; */
}
