.loading-container {
  display: flex;
  justify-content: center;
  margin-top: 40%;
}

.loading {
  width: 70px;
  height: 70px;
  border: 3.5px solid #e3e3e3;
  border-radius: 50%;
  border-right-color: #ff204c;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}